{% extends 'base.html.twig' %}

{% block title %}A Propos de nous{% endblock %}

{% block body %}

<div id="about">

        <header>

            <nav>
                        <ul>
                            <li><img src="images/LOGO_HOME.svg" alt="logo" class="home-logo"></li>
                            <li><a class="nav-link" href="{{ path('app_login') }}">Me connecter</a></li>
                        </ul>  
             </nav>
        </header>
